<%- include("./public/partials/setting") %>
    <div class="logContainer">
        <h1 class="logTitle">Log Page</h1>
        <div class="level">
            <%= level %>
        </div>
        <div class="logs">
            <%= logs %>
        </div>
    </div>
    </body>
</html>
