<%- include("./public/partials/setting") %>
    <div class="content">
        <h1>
            Login to <%= svcname %>'s Mailog
        </h1>
        <div class="form">
            <form action="/login" method="post" id="lgForm">
                <input type="text" name="id" id="id" placeholder="ID">
                <input type="password" name="pw" id="pw" placeholder="Password">
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>
    </body>

    </html>